/* Luxelocker Locations Component*/
.locationsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 800px;
  overflow-x: scroll;
}

/* Locations Details Page */
.locationDetailsContainer {
  background: url('../assets/video.jpg'), rgba(0, 0, 0, 0.6);
  min-height: 360px;
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 360px;
}

/* Search Bar Component*/
.searchContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
}
.searchContainer input {
  outline: none;
  background: transparent;
  border: none;
  font-size: 13px;
  color: white;
  font-family: 'Inter';
  width: 100%;
}

/* Gallery Component CSS*/
.SliderImage {
  max-height: '700px' !important;
  height: '622px' !important;
  width: '100%' !important;
  object-fit: 'cover' !important;
  border-radius: '20px' !important;
  transition: '0.5s ease in-out' !important;
}

/* Map Popup CSS */
